<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_chexian?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="666666"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			    <value>com/model/TAdmin.hbm.xml</value>
			    <value>com/model/TQiyexinxi.hbm.xml</value>
				<value>com/model/TOrganization.hbm.xml</value>
			    <value>com/model/TKehu.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 后台的登录 -->
	<bean id="loginService" class="com.service.loginService">
	    <property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="kehuDAO">
	         <ref bean="TKehuDAO"/>
	    </property>
	</bean>
	
	
	
	
	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminAction" class="com.action.adminAction" scope="prototype">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="TQiyexinxiDAO" class="com.dao.TQiyexinxiDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="qiyexinxiAction" class="com.action.qiyexinxiAction" scope="prototype">
		<property name="qiyexinxiDAO">
	         <ref bean="TQiyexinxiDAO"/>
	     </property>
	</bean>
	
	
	
	<bean id="organizationDAO" class="com.dao.TOrganizationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="organizationService" class="com.service.OrganizationService">
		 <property name="organizationDAO">
	         <ref bean="organizationDAO"/>
	     </property>
	</bean>
	<bean id="orgAction" class="com.action.OrgAction" scope="prototype">
	     <property name="organizationService">
	         <ref bean="organizationService"/>
	     </property>
	</bean>
	
	
	
	
	<bean id="TKehuDAO" class="com.dao.TKehuDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="kehuAction" class="com.action.kehuAction" scope="prototype">
	     <property name="kehuDAO">
	         <ref bean="TKehuDAO"/>
	     </property>
	     <property name="organizationService">
	         <ref bean="organizationService"/>
	     </property>
	</bean>
</beans>
